# EGOS emnuconfig Kconfig file
mainmenu "EGOS Configuration Menu"

menu "Debug"
    menu "Unit test"
        
        comment "Enable specific test suites below"

        config UNIT_TEST_UART
            bool "UART"
            default n
            help
                Unit Tests for UART I/O.
        
        config UNIT_TEST_MM
            bool "Memory Manager"
            default n
            help
                Unit Tests for Memory Manager.

        config UNIT_TEST_TIME
            bool "Time"
            default n
            help
                Unit Tests for Clock and Timer.

        config UNIT_TEST_SCHEDULE
            bool "Schedule"
            default n
            help
                Unit Tests for Schedule Things like Process, Thread, Signal and IPC, etc.
    endmenu

endmenu